html
	font-size: 62.5%

body
	overflow-x: hidden

.container-fluid
	max-width: $max-content-width
	margin: auto

	header &
		transform: skewY($angle)
		position: relative

main.container-fluid
	margin-top: $skew-padding

.skewed-background
	position: relative
	transform: skewy(-$angle)

	&:before
		background: $black $skew-background
		content: ""
		position: absolute
		left: 0
		top: 0
		top: -100%
		right: 0
		bottom: 0
		outline: 1px solid transparent
		backface-visibility: hidden
