{
	"presets": ["@babel/preset-env", "@babel/preset-react"],
	"plugins": [
		"@babel/plugin-transform-runtime",
		[
			"prismjs",
			{
				"languages": [
					"javascript",
					"powershell",
					"markup"
				],
				"plugins": [
					"show-language"
				],
				"css": true
			}
		]
	]
}